*.iml
.gradle
.flett
/build
/captures
.externalNativeBuild
.cxx
/kotlin-js-store
local.properties

# Project exclude paths
/build-logic/build/
/build-logic/build/classes/kotlin/main/

/app/release
/app/debug

# IDEA/Android Studio Ignore exceptions
# Project icon
!/.idea/icon.png
.DS_Store

# Project secrets config
/store
.secrets.properties